<div class="section section-components text-center">
   <h1>Blog Listesi</h1>
   <hr>
   <button routerLink="/blogs/add" *ngIf="_auth.isAdmin" class="btn btn-outline-primary">Ekle</button>
   <table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Oluşturulma Tarihi</th>
            <th>İçerik</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let blog of blogs let i = index">
            <td>{{i +1}}</td> 
            <td [innerText]="blog.title"></td>
            <td [innerText]="blog.createdDate | date: 'dd.MM.yyyy HH:mm:ss'"></td>
            <td [innerText]="blog.content.substring(0,120)"></td>
            <td >
                <button routerLink="/blogs/{{blog.id}}" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-eye"></i>                    
                </button>
                <button *ngIf="_auth.isAdmin" (click)="delete(blog.id)" class="btn btn-outline-danger btn-sm mx-1">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
   </table>
</div>