<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header">
                        <h1>Register Page</h1>
                      </div>         
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Kayıt için bilgileri doldurun!</small>
                        </div>                        
                        <form #registerForm="ngForm" role="form" (ngSubmit)="_auth.register(registerForm)">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      ngModel
                                      name="name"
                                      required
                                      minlength="3"
                                      #name
                                      [appValid]="name.validity.valid"
                                      placeholder="Adınız Soyadınız"
                                      type="text">
                                    <div class="invalid-feedback" *ngIf="!name.validity.valid">
                                        Ad alanı zorunludur!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      ngModel
                                      name="userName"
                                      placeholder="Kullanıcı adınız"
                                      required
                                      minlength="3"
                                      #userName
                                      [appValid]="userName.validity.valid"
                                      type="text">
                                      <div class="invalid-feedback" *ngIf="!userName.validity.valid"> 
                                        Kullanıcı adı alanı zorunludur!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      ngModel
                                      name="email"
                                      #email
                                      required
                                      email
                                      [appValid]="email.validity.valid"
                                      placeholder="Email"
                                      type="email">
                                    <div class="invalid-feedback" *ngIf="!email.validity.valid">
                                        Mail alanı zorunludur!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group focused">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      ngModel
                                      name="password"
                                      #password
                                      required
                                      [appValid]="password.validity.valid"
                                      placeholder="Password"
                                      type="password">
                                      <div class="invalid-feedback" *ngIf="!password.validity.valid">
                                        Şifre alanı zorunludur!
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary my-4">
                                    Kayıt Ol 
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>