<app-header [socialMedias]="socialMedias"></app-header>       

<div class="section section-components text-center">
    <h1 class="text-primary">Blog Yazılarım</h1>
    <hr>
    <div class="card card-style mt-4" *ngFor="let blog of _blog.blogs">
        <div class="card-header">
            <h2>{{blog.title}}</h2>          
        </div>
        <div class="card-body">      
            <p class="card-content" [innerHtml]="blog.content"></p>     
            <a routerLink="/blogs/{{blog.id}}">Devamı...</a>
            <br>
            <span class="float-right" style="font-size:small">Oluşturulma Tarih: {{blog.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
        </div>
    </div>   
</div>