<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-7">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">   
            <div class="card-header">
              <h1>Login Page</h1>
            </div>         
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Giriş yapmak için bilgileri doldurun!</small>
              </div>
              
              <form #loginForm="ngForm" role="form" (ngSubmit)="_auth.login(loginForm)">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input                    
                      class="form-control is-valid"
                      ngModel
                      name="email"
                      placeholder="Email"                      
                      required
                      [appValid]="email.validity.valid"
                      minlength="3"
                      #email
                      type="text">     
                    <div class="invalid-feedback" *ngIf="!email.validity.valid">
                        Mail/Kullanıcı Adı zorunludur!
                    </div>               
                  </div>
                </div>
                <div class="form-group focused">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input
                      class="form-control"
                      ngModel
                      name="password"
                      required 
                      #password    
                      [appValid]="password.validity.valid"                 
                      placeholder="Password"
                      type="password">
                    <div class="invalid-feedback" *ngIf="!password.validity.valid">
                        Şifre alanı zorunludur!
                    </div> 
                  </div>
                </div>                
                <div class="text-center">
                  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary my-4">Giriş Yap</button>
                </div>
              </form>
              
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a class="text-light"><small>Şifremi unuttum?</small></a>
            </div>
            <div class="col-6 text-right">
              <a class="text-light" routerLink="/register"><small>Yeni kayıt</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>