<div class="section section-hero section-shaped">
    <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
    </div>
    <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h3 class="text-white">Hoşgeldiniz!</h3>
                        <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="btn-wrapper mt-5">
                            <a *ngFor="let social of socialMedias"
                                href="{{social.link}}" target="_blank"
                                class="btn btn-lg {{social.btnClass}} text-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i [class]="social.icon"></i></span>
                                <span class="btn-inner--text">{{social.name}}</span>
                            </a>                              
                        </div>
                        <div class="mt-5">
                            <small class="font-weight-bold mb-0 mr-2 text-white">*proudly coded by</small>
                            <span class="text-white">Taner Saydam</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>