<div class="section">
    <form #addForm="ngForm" (ngSubmit)="add(addForm)">
    <div class="form-group">
        <label for="title">Başlık</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="blog.title"
          #title
          [appValid]="title.validity.valid"
          required
          minlength="3"
          id="title"
          class="form-control">
        <div class="invalid-feedback" *ngIf="!title.validity.valid">
            Başlık alanı zorunludur!
        </div>
    </div>
    <div class="form-group mt-1">
        <label for="content">İçerik</label>
        <angular-editor
          [config]="editorConfig"
          [placeholder]="'Enter text here...'"
          [(ngModel)]="blog.content"
          name="content"
          required
          minlength="30"></angular-editor>
    </div>
    <div class="form-group mt-1">
        <button class="btn btn-outline-primary w-100" [disabled]="!addForm.valid">
            <i class="fa fa-save"></i>
            Kaydet
        </button>
    </div>
</form>
</div>