/* You can add global styles to this file, and also import other style files */
a{
    cursor: pointer;
}

.section{
    margin-left: 10%;
    margin-right: 10%;
}

.is-invalid{
    border: 1px solid red;
}

.is-valid{
    border: 1px solid green;
}

.invalid-feedback {    
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: red;
}